/* Per tal de facilitar la posterior correcció de
l'exercici, i sent conscient d'alguna inevitable
mala praxi, aniré desenvolupant de manera seqüencial
tots els punts de l'enunciat */

/* PART 1 INSERCIO: Els 3 punts de la Part 1 estan 
desenvolupats a index.html */

/* PART 2: SELECTORS*/
/*1.4 Defineix un exemple de selector per a cadascun dels
que apareixen en aquest llista*/
/* NOTA: posare combinacions "poc habituals" de selectors 
per tal de que no molestin mes endavant*/

/* Unics 1 Universal*/
* {
  background-color: rgb(212, 242, 242);
}
body {
  margin: 20px;
}

/* Unics 2 Per classe */
.nomClase {
  color: white;
}

/* Unics 3 Per nom d'element */
div {
  color: white;
}

/* Unics 4 Per atribut */
a[target] {
  color: white;
}

/* Unics 5 Pseudoclases dinàmiques */
a:hover {
  color: white;
}

/* Unics 6 Pseudoelements */
article ::first-letter {
  color: white;
}

/* Unics 7 Pseudoclases estructurals */
li:nth-child(4) {
  color: white;
}

/* Unics 8 Per ID */
#nomID {
  color: white;
}

/* Combinacions 9 Selectors descendents */
div a {
  color: yellow;
}

/* Combinacions 10 Selector de fills*/
div > a {
  color: yellow;
}

/* Combinacions 11 Selector germans adjacents */
div + a {
  color: yellow;
}

/* Combinacions 12 Selector general de germans */
div ~ a {
  color: yellow;
}

/* Combinacions 13 Selector múltiple */
h1,
h2,
h3 {
  background-color: white;
  border: 1px solid blue;
  color: blue;
  padding: 5px;
  text-align: center;
}
/* final PART 2: SELECTORS*/

/* PART 3: REGLES */

/* Continguts Font */
.mayuscula {
  /* 1.- Defineix una familia de font */
  font-family: sans-serif;
  /* 2.- Defineix una transf de font a majuscules */
  text-transform: uppercase;
  /* 3.- Defineix una grandaria de lletra */
  font-size: 15px;
  /* 4.- Defineix una distancia entre paraules */
  word-spacing: 15px;
}

.minuscula {
  /* 2.- Defineix una transf de font a minuscula */
  text-transform: lowercase;
  /* 5.- Defineix un estil de font */
  font-style: oblique;
  /* 6.- Defineix un color de text */
  color: red;
}

.sombra {
  font-size: 25px;
  /* 7.- Defineix una ombra per alguna font*/
  text-shadow: 0.5px 0.5px 0px yellow;
}
/* final Contingut Font */

/* Contingut Imatges */
img {
  height: 300px;
  width: 300px;
  /* 8.- Centrat d'una imatge */
  /* Convertim la imatge en un element block i establim
  el marge dret i esquerra a auto */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 9.- Afegeix una icona externa */
/* Afegim un script al final del body de l'index.html i la
icona de font-awesom */
.icona {
  text-align: center;
}
/* final Contingut Imatges */

/* Contenidors Propietats */
.pare,
.fill {
  color: black;
  padding: 5px;
}
.pare {
  /* 10.- Defineix la posició per a un contenidor */
  position: relative;
  /* 12.-Assignar l'amplada d'un contenidor */
  width: 300px;
  /* 13.- Assignar l'alçada d'un contenidor */
  height: 300px;
  /* 14 - 15 - 16 gruix - estil - color contorn, definit
  amb aquest ordre */
  border: 3px dotted blue;
  /* 17.- Defineix contorns arrodonits */
  border-radius: 15px;
  /* 19.- Defineix una imatge de fons */
  background-image: url(./img/pollet.webp);
  background-size: cover;
  background-position: center;
}

.fill {
  position: absolute;
  top: 70px;
  right: 15px;
  border: 1px solid red;
  /* 11.- Defineix la profunditat d'un contenidor.
  Es crea com una pila d'elements. Si li donem un numero 
  negatiu quedara darrera del pare */
  z-index: 10;
  /* 18.- Defineix un color de fons*/
  background-color: aliceblue;
}
/* final Contenidors Propietats */

/* final PART 3: REGLES */
